{% extends 'base.html.twig' %}

{% block title %}SharpCore - Home{% endblock %}

{% block body %}
<div {{ react_component('Hero') }}></div>
{# <div {{ react_component('Footer') }}></div> #}
{% endblock %}
